<a href="https://colab.research.google.com/github/vishalmaurya11/Python/blob/main/Python_tutorial_with_harry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [3]:
print('''Twinkle Twinklw Little star,
        How i wonder what you are''')      #''' If we have to print more than one line string we use (''' ''')'''

Twinkle Twinklw Little star,
        How i wonder what you are

In [5]:
a=10
b="Hey Vishal"
type(a)         # type is used to find the datatype of a given variable

int

In [ ]:
#type casting
str(31)="31"

In [7]:
# input() always take input from users as String
a=input("Enter your name")
print(a)
type(a)

Enter your nameVishal
Vishal

str

In [10]:
#String slicing is just as substring
# first index is included while last index is not included
a=input("Enter a string ")
sl=a[0:5]
print(sl)

#negative index can also be used

Enter a string Hey are you there
Hey a

In [12]:
a=input("Enter a string ")
sw=a[:-1]
print(sw)

Enter a string vishal
visha

In [20]:
a=input("Enter ")
print(len(a))
print(a.endswith("al"))
print(a.count("i"))
print(a.capitalize())    # capitalize the first letter of a string
print(a.find("s"))        # returns the index of the word
print(a.replace("s","q"))

Enter vishal
6
True
1
Vishal
2
viqhal

In [30]:
'''
list are containers to store a set of values of any data type
Indexing are done just like a string
'''
friend=["vishal","Satyam","Vikas","Arun","Manjeet"]
num=[1,4,3,5,8,3,5]
print(friend)
friend.sort()
print(friend)
num.sort()
print(num)
num.reverse()
print(num)
num.append(7)
print(num)
num.insert(3,8)  #this will insert 8 at index 3
print(num)
num.pop(2)      # will delete element at index 2
print(num)
num.remove(7)    #will delete the emelemt 7
print(num)

['vishal', 'Satyam', 'Vikas', 'Arun', 'Manjeet']
['Arun', 'Manjeet', 'Satyam', 'Vikas', 'vishal']
[1, 3, 3, 4, 5, 5, 8]
[8, 5, 5, 4, 3, 3, 1]
[8, 5, 5, 4, 3, 3, 1, 7]
[8, 5, 5, 8, 4, 3, 3, 1, 7]
[8, 5, 8, 4, 3, 3, 1, 7]
[8, 5, 8, 4, 3, 3, 1]

In [34]:
 '''
 Tuple is an immutable data type in python
 once defined a tuple elements cant be altered or manipulated
 '''
 a=(1,4,6,7)
 a.count(1)   # return no. of times 1 occurs in a
 a.index(1) #return the index of first occurence of 1 in a

0

In [37]:
l1=[]
n=int(input("Enter the size of list:"))
for i in range(0,n):
  a=input()
  l1.append(a)
print(l1)

Enter the size of list:7
banana
papaya
apple
grapes
pine apple
pomegranate
coconut
['banana', 'papaya', 'apple', 'grapes', 'pine apple', 'pomegranate', 'coconut']

In [41]:
l1=[]
sum=0
for i in range(0,6):
  a=int(input())
  sum=sum+a
  l1.append(a)
l1.sort()
print(l1)
print(sum)

453
5
1
2
5
6
[1, 2, 5, 5, 6, 453]
472