<a href="https://colab.research.google.com/github/vishalmaurya11/Python/blob/main/Python_tutorial_with_harry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('''Twinkle Twinklw Little star,
        How i wonder what you are''')      #''' If we have to print more than one line string we use (''' ''')'''

Twinkle Twinklw Little star,
        How i wonder what you are

In [ ]:
a=10
b="Hey Vishal"
type(a)         # type is used to find the datatype of a given variable

int

In [ ]:
#type casting
str(31)="31"

In [ ]:
# input() always take input from users as String
a=input("Enter your name")
print(a)
type(a)

Enter your nameVishal
Vishal

str

In [ ]:
#String slicing is just as substring
# first index is included while last index is not included
a=input("Enter a string ")
sl=a[0:5]
print(sl)

#negative index can also be used

Enter a string Hey are you there
Hey a

In [ ]:
a=input("Enter a string ")
sw=a[:-1]
print(sw)

Enter a string vishal
visha

In [ ]:
a=input("Enter ")
print(len(a))
print(a.endswith("al"))
print(a.count("i"))
print(a.capitalize())    # capitalize the first letter of a string
print(a.find("s"))        # returns the index of the word
print(a.replace("s","q"))

Enter vishal
6
True
1
Vishal
2
viqhal

In [ ]:
'''
list are containers to store a set of values of any data type
Indexing are done just like a string
'''
friend=["vishal","Satyam","Vikas","Arun","Manjeet"]
num=[1,4,3,5,8,3,5]
print(friend)
friend.sort()
print(friend)
num.sort()
print(num)
num.reverse()
print(num)
num.append(7)
print(num)
num.insert(3,8)  #this will insert 8 at index 3
print(num)
num.pop(2)      # will delete element at index 2
print(num)
num.remove(7)    #will delete the emelemt 7
print(num)

['vishal', 'Satyam', 'Vikas', 'Arun', 'Manjeet']
['Arun', 'Manjeet', 'Satyam', 'Vikas', 'vishal']
[1, 3, 3, 4, 5, 5, 8]
[8, 5, 5, 4, 3, 3, 1]
[8, 5, 5, 4, 3, 3, 1, 7]
[8, 5, 5, 8, 4, 3, 3, 1, 7]
[8, 5, 8, 4, 3, 3, 1, 7]
[8, 5, 8, 4, 3, 3, 1]

In [ ]:
 '''
 Tuple is an immutable data type in python
 once defined a tuple elements cant be altered or manipulated
 '''
 a=(1,4,6,7)
 a.count(1)   # return no. of times 1 occurs in a
 a.index(1) #return the index of first occurence of 1 in a

0

In [ ]:
l1=[]
n=int(input("Enter the size of list:"))
for i in range(0,n):
  a=input()
  l1.append(a)
print(l1)

Enter the size of list:7
banana
papaya
apple
grapes
pine apple
pomegranate
coconut
['banana', 'papaya', 'apple', 'grapes', 'pine apple', 'pomegranate', 'coconut']

In [ ]:
l1=[]
sum=0
for i in range(0,6):
  a=int(input())
  sum=sum+a
  l1.append(a)
l1.sort()
print(l1)
print(sum)

453
5
1
2
5
6
[1, 2, 5, 5, 6, 453]
472

In [ ]:
a=(7,0,8,0,0,9)

print(a.count(0))

3

In [ ]:
#Dictionary
#it is a collection of keyvalue pair
a={"name":"vishal","roll":"64","address":"Sandila"}
print(a["name"])
print(a.items())
print(a.keys())
a.update({"college":"LNCT"})
print(a.items())
print(a.get("roll"))

vishal
dict_items([('name', 'vishal'), ('roll', '64'), ('address', 'Sandila')])
dict_keys(['name', 'roll', 'address'])
dict_items([('name', 'vishal'), ('roll', '64'), ('address', 'Sandila'), ('college', 'LNCT')])
64

In [ ]:
# sets
# it is a  collection of non-repeatitive elements
# it is unordered,unindexed,no way to change items in set
s={1,8,2,3}
print(len(s))
s.remove(8)
print(s)
print(s.pop())    # removes the arbitary element
print(s.union({11,8}))
print(s.intersection({8,11}))

4
{1, 2, 3}
1
{8, 11, 2, 3}
set()

In [ ]:
#practice set 5
'''1)))))
s=set()5
for i in range(0,8):
  s.add(int(input("Enter a no.")))
print(s)'''
''' 2))))
s={}
print(type(s))
'''
a={"name":"vishal","roll":"64","address":"Sandila","name1":"vishal"}
print(a)

{'name': 'vishal', 'roll': '64', 'address': 'Sandila', 'name1': 'vishal'}

In [ ]:
#conditional statements
a=int(input("Enter your age"))
if(a>=18):
  print("yes")
else :
  print("no")

Enter your age20
yes

In [ ]:
#find greatest in 4 no.
l=[None]*4
for i in range(0,4,1):
  l[i]=int(input("Enter a no"))
l.sort();
print(l[3])

Enter a no5
Enter a no6
Enter a no9
Enter a no2
9

In [ ]:
s=input("Enter you name")
if(len(s)>10):
  print("yes")
else:
  print("no")

Enter you namevishalmaurya
yes

In [ ]:
# loops in python
n=1
while(n<50):
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

chapter 7 practice set

In [3]:
a=int(input("Enter a no."))
for i in range(1,11,1):
  print(i*a)

Enter a no.6
6
12
18
24
30
36
42
48
54
60

In [5]:
l=["harry","sameer","shiva","ravi","abhisek"]
for i in l:
  if(i.startswith("s")):
    print(i)

sameer
shiva

In [7]:
a=int(input("Enter a no"))
count=0
for i in range(2,a):
  if(a%i==0):
    count=count+1
if(count>0):
  print("a is not prime")
else:
  print("a is prime")

Enter a no4
a is not prime

Chapter 8
functions  and recursion

In [14]:
def greet():
  gr="good day"
  return gr
print(greet())

good day

In [15]:
def greet(name):
  gr="Hello"+name
  return gr
print(greet("vishal"))

Hellovishal

In [16]:
def greet(name="Stranger"):
  gr="hello"+name
  return gr
print(greet())
print(greet("vishal"))

helloStranger
hellovishal

In [18]:
# recursion
def recursion(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*recursion(n-1)
print(recursion(5))

120

chapter 8 practice set

In [19]:
def greatest(a,b,c):
  if(a>b or a>c):
    return a
  elif(b>a or b>c):
    return b
  else:
    return c
print(greatest(10,5,9))

10

In [21]:
def sum(n):
  if(n==0 ):  return 0
  else: return n+sum(n-1)
print(sum(5))

15